

<div class="d-flex justify-content-between">
    <h2>JumpStarter</h2>
    <ul class="d-flex list-unstyled">
        <li>
            <a asp-controller="Project" asp-action="AllProjects">All Projects</a> | 
        </li>
        <li>
            <a asp-controller="Project" asp-action="NewProject">Start a Project</a> | 
        </li>
        <li>
            <form asp-controller="User" asp-action="Logout" method="post"><button type="submit" class="btn text-primary btn-link p-0"> Logout</button></form>
        </li>
    </ul>
    
</div>