@{
    ViewData["Title"] = "Home Page";
}
    <h1>JumpStart your project today!</h1>
    <div class="gap-5 d-flex">
        
        @await Html.PartialAsync("_RegistrationForm")
        @await Html.PartialAsync("_LoginForm")
    </div>
